<link type="text/css" rel="stylesheet" href="nav.css" />
<nav>
    <a href="/"><button class="btn">HOME</button></a>
    <a href="/about"><button class="btn">ABOUT</button></a>
    <a href="/form"><button class="btn">FORM</button></a>
</nav>