@charset "utf-8";

footer {
    background-color: #111;
    font-family: "Arial";
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    min-width: 800px;
    height: 60px;
    width: 100%;
    color: white;
}